################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OpenMinesweeper.Core/bin/Debug/netstandard2.0
/OpenMinesweeper.Core/obj
/OpenMinesweeper.NET/bin/Debug/netcoreapp3.1
/OpenMinesweeper.NET/obj
/bin/Debug
