<?xml version="1.0" encoding="utf-8"?>
<SoftwareConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CurrentSettings>
    <KVPItem Key="LanguageKey" Value="1033" TypeOfKey="System.String" TypeOfValue="System.String" />
  </CurrentSettings>
  <Resources>
    <Resource xsi:type="LanguageResource" Key="1033" LanguageName="EN-US">
      <Content>
		<KVPItem Key="GameStr" Value="Game"/>
        <KVPItem Key="NewGameStr" Value="New Game"/>
        <KVPItem Key="OpenStr" Value="Open"/>     
		<KVPItem Key="SaveStr" Value="Save"/>     
		<KVPItem Key="ExitStr" Value="Exit"/>   
		<KVPItem Key="HelpStr" Value="Help"/>     
		<KVPItem Key="AboutStr" Value="About"/>   
		<KVPItem Key="AuthorsStr" Value="Authors"/>     
		<KVPItem Key="LicenseStr" Value="License"/>    
		<KVPItem Key="LanguagesStr" Value="Languages"/>    		
		<KVPItem Key="LinesStr" Value="Lines"/>  
		<KVPItem Key="ColumnsStr" Value="Columns"/>  
		<KVPItem Key="PlayStr" Value="Play"/>  
		<KVPItem Key="LoadGameStr" Value="Load Game"/>
		<KVPItem Key="TranslationsStr" Value="Translations"/>
		<KVPItem Key="GameOverMsgStr" Value="Game Over! Continue?" />
		<KVPItem Key="GameWonMsgStr" Value="Congratulations, you won! Continue?" />
      </Content>
    </Resource>
    <Resource xsi:type="LanguageResource" Key="1046" LanguageName="PT-BR">
      <Content>
		<KVPItem Key="GameStr" Value="Jogo"/>
        <KVPItem Key="NewGameStr" Value="Novo Jogo"/>
        <KVPItem Key="OpenStr" Value="Abrir"/>     
		<KVPItem Key="SaveStr" Value="Salver"/>     
		<KVPItem Key="ExitStr" Value="Sair"/>   
		<KVPItem Key="HelpStr" Value="Ajuda"/>     
		<KVPItem Key="AboutStr" Value="Sobre"/>   
		<KVPItem Key="AuthorsStr" Value="Autores"/>     
		<KVPItem Key="LicenseStr" Value="Licença"/> 
		<KVPItem Key="LanguagesStr" Value="Idiomas"/> 
		<KVPItem Key="LinesStr" Value="Linhas"/>  
		<KVPItem Key="ColumnsStr" Value="Colunas"/>  
		<KVPItem Key="PlayStr" Value="Jogar"/>  
		<KVPItem Key="LoadGameStr" Value="Carregar Jogo"/>	
		<KVPItem Key="TranslationsStr" Value="Traduções"/>
		<KVPItem Key="GameOverMsgStr" Value="Fim de jogo! Continuar?" />
		<KVPItem Key="GameWonMsgStr" Value="Parabéns, você venceu! Continuar?" />
	  </Content>
    </Resource>   
  </Resources>
</SoftwareConfig>